body {
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
	font-weight: 300;
}

hr {
	border-width: 5px;
	border-color: white;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title_logo {
	margin-top: 30px;
}

.fw-top {
	margin-top: 50px; 
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.box {
	float: right;
	text-align: left;
	background-color: white;
	color: black;
    padding-left: 10px;
	width: 40%;
	height: 50%;
	margin-right: -30px;
	border-style: solid;
}

/* ---------- for fixing logos ------------------*/
@media only screen and (max-width: 1000px) {
	.title_logo{
		margin-left: auto;
		margin-right: auto;
	}

	.role {
		text-align: center;
	}
}

/* ---------- for handheld devices --------------*/
@media only screen and (max-width: 800px) {
	.box{
		border-width: 2px;
		margin-right: 10px;
	}

	.cap_title{
		font-size: 12px;
	}

	.cap_content{
		font-size: 10px;
	}
}